@model IEnumerable<OnlineExamCenter.Models.AccountLedgerVM>

<table class="table table-bordered mg-b-0">
    <thead class="thead-colored thead-primary">
        <tr>
            <th>
                Date
            </th>
            <th>
                Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Particular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxnType)
            </th>
            <th>
                DrAmount
            </th>
            <th>
                CrAmount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TxnDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AccountTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxnType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrAmount)
            </td>
        </tr>
        }
    </tbody>
</table>
