
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="d-flex align-items-center justify-content-center ht-100v">
        <img src="~/image/loginback.jpg" class="wd-100p ht-100p object-fit-cover" alt="">
        <div class="overlay-body  d-flex align-items-center justify-content-center">
            @*@using (Html.BeginForm("ChangePassword", "LogIn", FormMethod.Post ))
            {*@
            <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 rounded bd bd-white-2 ">
                <div class="signin-logo tx-center tx-28 tx-bold tx-white"><span class="tx-normal"></span> Online <span class="tx-info">Exam</span> System<span class="tx-normal"></span></div>
                <div class="form-group">
                    <p style="color:green;font-weight:bolder;">@ViewBag.ExpMsg</p>
                    <input type="hidden" id="ForgotUserId" value="@ViewBag.ForgotUserId" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-dark" name="resetOTP" id="OTP" placeholder="One Time Password">
                </div><!-- row -->

                <div class="form-group">
                    <input type="password" class="form-control form-control-dark" name="password" id="password" placeholder="New Password">
                </div><!-- row -->
                <div class="form-group">
                    <input type="password" class="form-control form-control-dark" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
                </div><!-- row -->
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success" onclick="validatepassWithOTP()" />
                </div>
                @*}*@
            </div><!-- overlay-body -->
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/lib/js")
</body>
</html>
<script type="text/javascript">
    function validatepassWithOTP()
    {
        var forgotUserId = $('#ForgotUserId').val();
        var pass=$('#password').val();
        var confpass=$('#confirmpassword').val();
        var otp = $('#OTP').val();

        var min=5;
        var max=10;
        if(pass=="" || confpass=="")
        {
            alert("Password Field cannot be Blank !!!!");
            return false;
        }
        if(pass!=confpass)
        {
            alert("New Password do not match with Confirm Password");
            return false;
        }
        if(pass.length<min) {
            alert("Password length Should be greater than 5 Characters ");
                return false;
            }
        if (pass.length > max || confpass.length > max)
        {
            alert("Password length Should be less than 10 Characters ");
            return false;
        }
        $.ajax({
            url: "@Url.Action("ChangePasswordWithOTP", "Login")",
            data: { userid: forgotUserId, password: pass,otp:otp },
            dataType: "json",
            type: "POST",
            cache: false,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                var delayInMilliseconds = 2000; //2 second
                setTimeout(function () {
                    window.location.href = '@Url.Action("Login", "LogIn")';
                }, delayInMilliseconds);

            }
                else
                    alert(result.Message);
        }
    });

    }
</script>

