@model OnlineExamCenter.ModelsVM.QuestionTypeVM

@{
    ViewBag.Title = "QuestionTypeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="br-pagebody">
    <h6 class="br-section-label">Question Type Detail</h6>
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-lg mg-t-20">
                <a href="@Url.Action("QuestionTypeIndex", "QuestionBank")" class="btn btn-sm btn-info"><i class="fa fa-arrow-left"></i>Back</a>
                <input type="hidden" id="txtQuestionTypeId" value="@Model.Id" />
            </div>
        </div>
        <div class="row mg-t-20">
            <div class="col-lg">
                <h6 class="br-section-label">Question Type</h6>
                <input class="form-control form-control-dark" id="txtQuestionType" value="@Model.TypeName" onKeyPress="return checkLength(this,20)" name="QuestionType" placeholder="Question Type" type="text">
            </div><!-- col -->
            <div class="col-lg ">
                <h6 class="br-section-label">Status</h6>
                @Html.DropDownList("ddlStatus", new SelectList(ViewBag.StatusList, "StatusId", "StatusName", Model.StatusId), "---Select Status-- - ", new { @class = "form-control form-control-dark" })
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
            </div><!-- col -->
        </div><!-- row -->
        <div class="row pd-t-20">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-info" onclick="UpdateQuestionType();" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function UpdateQuestionType() {
        var type = $('#txtQuestionType').val();
        var statusId = $('#ddlStatus').val();
        var typeid = $('#txtQuestionTypeId').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateQuestionType", "QuestionBank")",
            data: { typeId: typeid, questionType: type, statusId: statusId },
        success: function (result) {
            if (result.IsSuccess)
                toastr.success(result.Message);
            else
                toastr.error(result.Message);
        },
        error: function (result, textStatus, jqXHR) {

        }
    });
    }
</script>